<article class='card'>
	<div class='card__urls'>
		<a
			href='{{item.origin}}'
			class='card__links'
		>{{item.origin}}</a>
		<a
			href='{{item.shortUrl}}'
			target='_blank'
			class='card__links'
		>{{item.shortUrl}}</a>
	</div>
	<div class='card__btn'>
		<a href='/eliminar/{{item._id}}' class='btn btn--delete'>Eliminar</a>
		<a href='/editar/{{item._id}}' class='btn btn--modify'>Editar</a>
		<button type="button" title="copi" data-shortUrl="{{item.shortUrl}}" class='btn btn--copy'>Copiar</button>
	</div>
</article>